@model Product
<form method="post">
    <div class="row border p-3 mt-4">
        <div class="row pb-3">
            <h2 class="text-primary">Delete Category</h2>
            <br />
        </div>
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="All"></div>
        <div class="row pb-3">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row pb-3">
            <label asp-for="Description"></label>
            <input disabled asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row pb-3">
            <label asp-for="Price"></label>
            <input disabled asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="row pb-3">
            <label asp-for="Category.Name"></label>
            <input disabled asp-for="Category.Name" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <button class="btn btn-danger" type="submit">Delete Product</button>
    </div>
    <a asp-area="Admin" asp-action="index" asp-controller="product">Get Back</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}